In [1]:
from taxcrunch import multi_cruncher as mc

In [2]:
# create an instance of the Batch: class with the file path to the CSV input file
batch = mc.Batch('../docs/WP_example/input.csv')

In [3]:
# each row in output file represents a filing unit's liabilities in 2026 under the TCJA extension

# write output file to CSV
batch.write_output_file(output_filename='TJCA_ext_output.csv', reform_file='../docs/WP_example/TCJA_ext.json')

# create the same table as a Pandas dataframe
output_df = batch.create_table(reform_file='../docs/WP_example/TCJA_ext.json')
output_df.head()

CTC_c was redefined in release 1.0.0

CTC_c was redefined in release 1.0.0

,ID,Individual Income Tax,Payroll Tax,Wages,AGI,UI in AGI,OASDI in AGI,Itemized Deductions,Taxable Inc,Regular Tax,...,Child care credit,EITC,AMT Taxable Income,AMT Liability,Net Investment Income Tax,Income Tax Before Credits,FICA,Payroll Tax MTR,Income Tax MTR,Combined MTR
0,1.0,-616.5500,1530.0000,10000.0,10000.0,0.0,0.0,0.0,0.00,0.0000,...,0.0,616.55,10000.0,0.0,0.0,0.0000,1530.0000,0.153,0.00,0.153
1,2.0,1663.0558,4590.0000,30000.0,30000.0,0.0,0.0,0.0,15744.66,1663.0558,...,0.0,0.00,30000.0,0.0,0.0,1663.0558,4590.0000,0.153,0.12,0.273
2,3.0,5263.0558,9180.0000,60000.0,60000.0,0.0,0.0,0.0,45744.66,5263.0558,...,0.0,0.00,60000.0,0.0,0.0,5263.0558,9180.0000,0.153,0.12,0.273
3,4.0,14040.1758,15300.0000,100000.0,100000.0,0.0,0.0,0.0,85744.66,14040.1758,...,0.0,0.00,100000.0,0.0,0.0,14040.1758,15300.0000,0.153,0.22,0.373
4,5.0,37794.9604,26674.0112,200000.0,200000.0,0.0,0.0,0.0,185744.66,37794.9604,...,0.0,0.00,200000.0,0.0,0.0,37794.9604,26674.0112,0.038,0.24,0.278

In [4]:
# each row in output file represents the difference in a filing unit's liabilities in 2026 
# between the TCJA extension and current law

# write output diff file to CSV
batch.write_diff_file(output_filename='TCJA_ext_diff_output.csv', reform_file='../docs/WP_example/TCJA_ext.json')

# create the same diff table as a Pandas dataframe
diff_df = batch.create_diff_table(reform_file='../docs/WP_example/TCJA_ext.json')
diff_df.head()

CTC_c was redefined in release 1.0.0

CTC_c was redefined in release 1.0.0

,ID,Individual Income Tax Diff,Payroll Tax Diff,Wages Diff,AGI Diff,UI in AGI Diff,OASDI in AGI Diff,Itemized Deductions Diff,Taxable Inc Diff,Regular Tax Diff,...,Child care credit Diff,EITC Diff,AMT Taxable Income Diff,AMT Liability Diff,Net Investment Income Tax Diff,Income Tax Before Credits Diff,FICA Diff,Payroll Tax MTR Diff,Income Tax MTR Diff,Combined MTR Diff
0,1.0,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0000,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.00,0.00
1,2.0,-384.7942,0.0,0.0,0.0,0.0,0.0,0.0,-1669.34,-384.7942,...,0.0,0.0,0.0,0.0,0.0,-384.7942,0.0,0.0,-0.03,-0.03
2,3.0,-1433.5942,0.0,0.0,0.0,0.0,0.0,0.0,-1669.34,-1433.5942,...,0.0,0.0,0.0,0.0,0.0,-1433.5942,0.0,0.0,-0.13,-0.13
3,4.0,-2656.4742,0.0,0.0,0.0,0.0,0.0,0.0,-1669.34,-2656.4742,...,0.0,0.0,0.0,0.0,0.0,-2656.4742,0.0,0.0,-0.03,-0.03
4,5.0,-6187.6896,0.0,0.0,0.0,0.0,0.0,0.0,-1669.34,-6187.6896,...,0.0,0.0,0.0,0.0,0.0,-6187.6896,0.0,0.0,-0.04,-0.04