In [1]:
from taxcrunch.multi_cruncher import Batch

In [20]:
#specify path to input csv file
path = 'example_input.csv'
#initiate Batch class
b = Batch(path)

In [21]:
# outputs under current law
b.create_table()

,ID,Individual Income Tax,Payroll Tax,AGI,UI in AGI,OASDI in AGI,Itemized Deductions,Taxable Inc,Regular Tax,CTC,CTC Refundable,Child care credit,EITC,AMT,Net Investment Income Tax,Income Tax Before Credits,FICA,Income Tax MTR,Payroll Tax MTR
0,1.0,144661.1552,33697.96192,510000.0,0.0,0.0,0.0,491596.8,145781.1552,0.0,0.0,0.0,0.0,0.0,380.0,144281.1552,30997.96192,0.35,0.038
1,2.0,144661.1552,33697.96192,510000.0,0.0,0.0,0.0,491596.8,145781.1552,0.0,0.0,0.0,0.0,0.0,380.0,144281.1552,30997.96192,0.35,0.038
2,3.0,10622.1472,18360.00000,130000.0,0.0,0.0,0.0,111596.8,19522.1472,8000.0,0.0,0.0,0.0,0.0,0.0,18622.1472,18360.00000,0.24,0.153
3,4.0,19822.1472,20847.96192,160000.0,0.0,0.0,0.0,141596.8,26722.1472,6000.0,0.0,0.0,0.0,0.0,0.0,25822.1472,20847.96192,0.24,0.029
4,5.0,188469.0912,38257.96192,630000.0,0.0,0.0,0.0,611596.8,189789.0912,0.0,0.0,0.0,0.0,0.0,380.0,188089.0912,34477.96192,0.37,0.038
5,6.0,924.3312,10710.00000,78000.0,0.0,0.0,0.0,59596.8,7537.1712,6000.0,0.0,0.0,0.0,0.0,0.0,6924.3312,10710.00000,0.27,0.153
6,7.0,8117.1712,14076.00000,102000.0,0.0,0.0,0.0,83596.8,12817.1712,4000.0,0.0,0.0,0.0,0.0,0.0,12117.1712,14076.00000,0.22,0.153
7,8.0,188469.0912,38257.96192,630000.0,0.0,0.0,0.0,611596.8,189789.0912,0.0,0.0,0.0,0.0,0.0,380.0,188089.0912,34477.96192,0.37,0.038

In [22]:
# outputs under reform
b.create_table('2017_law.json')

CTC_c was redefined in release 1.0.0

,ID,Individual Income Tax,Payroll Tax,AGI,UI in AGI,OASDI in AGI,Itemized Deductions,Taxable Inc,Regular Tax,CTC,CTC Refundable,Child care credit,EITC,AMT,Net Investment Income Tax,Income Tax Before Credits,FICA,Income Tax MTR,Payroll Tax MTR
0,1.0,145123.90936,33697.96192,510000.0,0.0,0.0,0.0,500214.03,146703.90936,0.0,0.0,0.0,0.0,0.00000,380.0,144743.90936,30997.96192,0.396,0.038
1,2.0,145123.90936,33697.96192,510000.0,0.0,0.0,0.0,500214.03,146703.90936,0.0,0.0,0.0,0.0,0.00000,380.0,144743.90936,30997.96192,0.396,0.038
2,3.0,16912.38925,18360.00000,130000.0,0.0,0.0,0.0,99019.83,18739.46350,1250.0,0.0,0.0,0.0,422.92575,0.0,17739.46350,18360.00000,0.375,0.153
3,4.0,27912.38925,20847.96192,160000.0,0.0,0.0,0.0,133258.67,27299.17350,0.0,0.0,0.0,0.0,1613.21575,0.0,26299.17350,20847.96192,0.325,0.029
4,5.0,192643.90936,38257.96192,630000.0,0.0,0.0,0.0,620214.03,194223.90936,0.0,0.0,0.0,0.0,0.00000,380.0,192263.90936,34477.96192,0.396,0.038
5,6.0,2940.17650,10710.00000,78000.0,0.0,0.0,0.0,51258.67,6990.17650,2850.0,0.0,0.0,0.0,0.00000,0.0,5790.17650,10710.00000,0.200,0.153
6,7.0,12208.88350,14076.00000,102000.0,0.0,0.0,0.0,79497.51,13858.88350,650.0,0.0,0.0,0.0,0.00000,0.0,12858.88350,14076.00000,0.300,0.153
7,8.0,192643.90936,38257.96192,630000.0,0.0,0.0,0.0,620214.03,194223.90936,0.0,0.0,0.0,0.0,0.00000,380.0,192263.90936,34477.96192,0.396,0.038