In [1]:
from taxcrunch.multi_cruncher import Batch

In [2]:
#specify path to input csv file
path = 'example_input.csv'
#initiate Batch class
b = Batch(path)

In [3]:
# outputs under current law
b.create_table()

,ID,Individual Income Tax,Payroll Tax,AGI,UI in AGI,OASDI in AGI,Itemized Deductions,Taxable Inc,Regular Tax,CTC,CTC Refundable,Child care credit,EITC,AMT,Net Investment Income Tax,Income Tax Before Credits,FICA,Payroll Tax MTR,Income Tax MTR,Combined MTR
0,1.0,23397.147200,21137.96192,164500.0,0.0,0.0,0.0,146096.8,27802.1472,4000.0000,0.0000,0.0,0.000000,0.0,0.0,27397.1472,21137.96192,0.029,0.2400,0.2690
1,2.0,-5385.396064,7267.50000,47800.0,0.0,0.0,0.0,23262.4,2401.9536,2365.9536,3634.0464,0.0,1751.349664,0.0,0.0,2365.9536,7267.50000,0.153,0.3306,0.4836
2,3.0,10049.408800,10710.00000,80000.0,0.0,0.0,0.0,67731.2,10749.4088,0.0000,0.0000,0.0,0.000000,0.0,0.0,10049.4088,10710.00000,0.153,0.2200,0.3730
3,4.0,7038.817600,18819.00000,124200.0,0.0,0.0,0.0,99662.4,13622.8176,6000.0000,0.0000,0.0,0.000000,0.0,0.0,13538.8176,18819.00000,0.153,0.2200,0.3730
4,5.0,40659.745600,23747.96192,251200.0,0.0,0.0,0.0,226662.4,42722.1456,2000.0000,0.0000,0.0,0.000000,0.0,45.6,42614.1456,23747.96192,0.038,0.2400,0.2780
5,6.0,-530.630000,1683.00000,11000.0,0.0,0.0,0.0,0.0,0.0000,0.0000,0.0000,0.0,530.630000,0.0,0.0,0.0000,1683.00000,0.153,0.0000,0.1530
6,7.0,-3402.289388,5967.00000,39250.0,0.0,0.0,0.0,20846.8,2223.5232,2193.5232,1806.4768,0.0,1595.812588,0.0,0.0,2193.5232,5967.00000,0.153,0.3306,0.4836

In [4]:
# outputs under reform
b.create_table('2017_law.json')

CTC_c was redefined in release 1.0.0

,ID,Individual Income Tax,Payroll Tax,AGI,UI in AGI,OASDI in AGI,Itemized Deductions,Taxable Inc,Regular Tax,CTC,CTC Refundable,Child care credit,EITC,AMT,Net Investment Income Tax,Income Tax Before Credits,FICA,Payroll Tax MTR,Income Tax MTR,Combined MTR
0,1.0,29979.889250,21137.96192,164500.0,0.0,0.0,0.0,141997.51,29624.2814,0.0000,0.0000,0.0,0.000000,940.60785,0.0,29039.2814,21137.96192,0.029,0.3250,0.3540
1,2.0,-3521.399568,7267.50000,47800.0,0.0,0.0,0.0,13313.63,1331.3630,1301.3630,1698.6370,0.0,1822.762568,0.00000,0.0,1301.3630,7267.50000,0.153,0.3106,0.4636
2,3.0,11818.824500,10710.00000,80000.0,0.0,0.0,0.0,69115.07,12818.8245,0.0000,0.0000,0.0,0.000000,0.00000,0.0,11818.8245,10710.00000,0.153,0.2500,0.4030
3,4.0,10038.811000,18819.00000,124200.0,0.0,0.0,0.0,85474.79,12448.8110,2290.0000,0.0000,0.0,0.000000,0.00000,0.0,12328.8110,18819.00000,0.153,0.3000,0.4530
4,5.0,49216.118400,23747.96192,251200.0,0.0,0.0,0.0,225191.31,49326.5184,0.0000,0.0000,0.0,0.000000,0.00000,45.6,49170.5184,23747.96192,0.038,0.2800,0.3180
5,6.0,-533.780000,1683.00000,11000.0,0.0,0.0,0.0,0.00,0.0000,0.0000,0.0000,0.0,533.780000,0.00000,0.0,0.0000,1683.00000,0.153,0.0000,0.1530
6,7.0,-1878.308196,5967.00000,39250.0,0.0,0.0,0.0,16747.51,1813.5025,1776.0025,223.9975,0.0,1654.310696,0.00000,0.0,1776.0025,5967.00000,0.153,0.3606,0.5136