In [1]:
from taxcrunch.multi_cruncher import Batch

In [2]:
#specify path to input csv file
path = 'example_input.csv'
#initiate Batch class
b = Batch(path)

In [3]:
# outputs under current law (no reform)
b.create_table()

,ID,Individual Income Tax,Payroll Tax,Wages,AGI,UI in AGI,OASDI in AGI,Itemized Deductions,Taxable Inc,Regular Tax,...,Child care credit,EITC,AMT Taxable Income,AMT Liability,Net Investment Income Tax,Income Tax Before Credits,FICA,Payroll Tax MTR,Income Tax MTR,Combined MTR
0,1.0,23397.147200,21137.96192,160000.0,164500.0,0.0,0.0,0.0,146096.8,27397.1472,...,0.0,0.000000,164500.0,0.0,0.0,27397.1472,21137.96192,0.029,0.2400,0.2690
1,2.0,-5385.396064,7267.50000,47500.0,47800.0,0.0,0.0,0.0,23262.4,2365.9536,...,0.0,1751.349664,47800.0,0.0,0.0,2365.9536,7267.50000,0.153,0.3306,0.4836
2,3.0,10049.408800,10710.00000,70000.0,80000.0,0.0,0.0,0.0,67731.2,10049.4088,...,0.0,0.000000,80000.0,0.0,0.0,10049.4088,10710.00000,0.153,0.2200,0.3730
3,4.0,6538.817600,18819.00000,123000.0,124200.0,0.0,0.0,0.0,99662.4,13538.8176,...,0.0,0.000000,124200.0,0.0,0.0,13538.8176,18819.00000,0.153,0.2200,0.3730
4,5.0,40659.745600,23747.96192,250000.0,251200.0,0.0,0.0,0.0,226662.4,42614.1456,...,0.0,0.000000,251200.0,0.0,45.6,42614.1456,23747.96192,0.038,0.2400,0.2780
5,6.0,-530.630000,1683.00000,11000.0,11000.0,0.0,0.0,0.0,0.0,0.0000,...,0.0,530.630000,11000.0,0.0,0.0,0.0000,1683.00000,0.153,0.0000,0.1530
6,7.0,-3402.289388,5967.00000,39000.0,39250.0,0.0,0.0,0.0,20846.8,2193.5232,...,0.0,1595.812588,39250.0,0.0,0.0,2193.5232,5967.00000,0.153,0.3306,0.4836

In [4]:
# outputs under local reform
b.create_table('../taxcrunch/tests/test_reform.json')

CTC_c was redefined in release 1.0.0

,ID,Individual Income Tax,Payroll Tax,Wages,AGI,UI in AGI,OASDI in AGI,Itemized Deductions,Taxable Inc,Regular Tax,...,Child care credit,EITC,AMT Taxable Income,AMT Liability,Net Investment Income Tax,Income Tax Before Credits,FICA,Payroll Tax MTR,Income Tax MTR,Combined MTR
0,1.0,29979.889250,21137.96192,160000.0,164500.0,0.0,0.0,0.0,141997.51,29039.2814,...,0.0,0.000000,164500.0,940.60785,0.0,29979.88925,21137.96192,0.029,0.3250,0.3540
1,2.0,-3521.399568,7267.50000,47500.0,47800.0,0.0,0.0,0.0,13313.63,1301.3630,...,0.0,1822.762568,47800.0,0.00000,0.0,1301.36300,7267.50000,0.153,0.3106,0.4636
2,3.0,11818.824500,10710.00000,70000.0,80000.0,0.0,0.0,0.0,69115.07,11818.8245,...,0.0,0.000000,80000.0,0.00000,0.0,11818.82450,10710.00000,0.153,0.2500,0.4030
3,4.0,8979.101000,18819.00000,123000.0,124200.0,0.0,0.0,0.0,81235.95,11269.1010,...,0.0,0.000000,124200.0,0.00000,0.0,11269.10100,18819.00000,0.153,0.3000,0.4530
4,5.0,49216.118400,23747.96192,250000.0,251200.0,0.0,0.0,0.0,225191.31,49170.5184,...,0.0,0.000000,251200.0,0.00000,45.6,49170.51840,23747.96192,0.038,0.2800,0.3180
5,6.0,-533.780000,1683.00000,11000.0,11000.0,0.0,0.0,0.0,0.00,0.0000,...,0.0,533.780000,11000.0,0.00000,0.0,0.00000,1683.00000,0.153,0.0000,0.1530
6,7.0,-1878.308196,5967.00000,39000.0,39250.0,0.0,0.0,0.0,16747.51,1776.0025,...,0.0,1654.310696,39250.0,0.00000,0.0,1776.00250,5967.00000,0.153,0.3606,0.5136

In [5]:
# outputs under dictionary reform
reform_dict = {
    "CTC_c": {2013: 1300, 2018: 1800}
    }

b.create_table(reform_dict)

CTC_c was redefined in release 1.0.0

,ID,Individual Income Tax,Payroll Tax,Wages,AGI,UI in AGI,OASDI in AGI,Itemized Deductions,Taxable Inc,Regular Tax,...,CTC Refundable,Child care credit,EITC,AMT,Net Investment Income Tax,Income Tax Before Credits,FICA,Payroll Tax MTR,Income Tax MTR,Combined MTR
0,1.0,23797.147200,21137.96192,160000.0,164500.0,0.0,0.0,0.0,146096.8,27802.1472,...,0.0000,0.0,0.000000,0.0,0.0,27397.1472,21137.96192,0.029,0.2400,0.2690
1,2.0,-4785.396064,7267.50000,47500.0,47800.0,0.0,0.0,0.0,23262.4,2401.9536,...,3034.0464,0.0,1751.349664,0.0,0.0,2365.9536,7267.50000,0.153,0.3306,0.4836
2,3.0,10049.408800,10710.00000,70000.0,80000.0,0.0,0.0,0.0,67731.2,10749.4088,...,0.0000,0.0,0.000000,0.0,0.0,10049.4088,10710.00000,0.153,0.2200,0.3730
3,4.0,7138.817600,18819.00000,123000.0,124200.0,0.0,0.0,0.0,99662.4,13622.8176,...,0.0000,0.0,0.000000,0.0,0.0,13538.8176,18819.00000,0.153,0.2200,0.3730
4,5.0,40859.745600,23747.96192,250000.0,251200.0,0.0,0.0,0.0,226662.4,42722.1456,...,0.0000,0.0,0.000000,0.0,45.6,42614.1456,23747.96192,0.038,0.2400,0.2780
5,6.0,-530.630000,1683.00000,11000.0,11000.0,0.0,0.0,0.0,0.0,0.0000,...,0.0000,0.0,530.630000,0.0,0.0,0.0000,1683.00000,0.153,0.0000,0.1530
6,7.0,-3002.289388,5967.00000,39000.0,39250.0,0.0,0.0,0.0,20846.8,2223.5232,...,1406.4768,0.0,1595.812588,0.0,0.0,2193.5232,5967.00000,0.153,0.3306,0.4836

In [6]:
# outputs under preset reform (from https://github.com/PSLmodels/Tax-Calculator/tree/master/taxcalc/reforms)
b.create_table('Renacci.json')

,ID,Individual Income Tax,Payroll Tax,Wages,AGI,UI in AGI,OASDI in AGI,Itemized Deductions,Taxable Inc,Regular Tax,...,CTC Refundable,Child care credit,EITC,AMT,Net Investment Income Tax,Income Tax Before Credits,FICA,Payroll Tax MTR,Income Tax MTR,Combined MTR
0,1.0,21502.221500,21137.96192,160000.0,164500.0,0.0,0.0,0.0,133254.45,25502.2215,...,0.00,0.0,0.000000,0.0,0.0,25502.2215,21137.96192,0.029,0.2500,0.2790
1,2.0,-8588.529664,7267.50000,47500.0,47800.0,0.0,0.0,0.0,0.00,0.0000,...,4200.00,0.0,4388.529664,0.0,0.0,0.0000,7267.50000,0.153,0.2106,0.3636
2,3.0,6981.016500,10710.00000,70000.0,80000.0,0.0,0.0,0.0,59169.63,6981.0165,...,0.00,0.0,0.000000,0.0,0.0,6981.0165,10710.00000,0.153,0.2500,0.4030
3,4.0,-1349.870000,18819.00000,123000.0,124200.0,0.0,0.0,0.0,56501.30,5650.1300,...,1349.87,0.0,0.000000,0.0,0.0,5650.1300,18819.00000,0.153,0.1000,0.2530
4,5.0,33505.731500,23747.96192,250000.0,251200.0,0.0,0.0,0.0,204331.66,35460.1315,...,0.00,0.0,0.000000,0.0,45.6,35460.1315,23747.96192,0.038,0.2500,0.2880
5,6.0,-841.500000,1683.00000,11000.0,11000.0,0.0,0.0,0.0,0.00,0.0000,...,0.00,0.0,841.500000,0.0,0.0,0.0000,1683.00000,0.153,-0.0765,0.0765
6,7.0,-6740.192588,5967.00000,39000.0,39250.0,0.0,0.0,0.0,8004.45,800.4450,...,2800.00,0.0,3940.192588,0.0,0.0,800.4450,5967.00000,0.153,0.2106,0.3636