In [1]:
from taxcrunch.multi_cruncher import Batch

In [2]:
path = '../docs/example_input.csv'
b = Batch(path)

In [3]:
# outputs under current law
b.baseline_table()

,Individual Income Tax,Payroll Tax,AGI,UI in AGI,OASDI in AGI,Itemized Deductions,Taxable Inc,Regular Tax,CTC,CTC Refundable,Child care credit,EITC,AMT,Net Investment Income Tax,Income Tax Before Credits,FICA
0,-2486.4768,7650.0,60000.0,0.0,0.0,0.0,41596.8,4713.5232,3513.5232,2486.4768,0.0,0.0,0.0,0.0,3513.5232,7650.0
1,-1286.4768,9180.0,70000.0,0.0,0.0,0.0,51596.8,5913.5232,4713.5232,1286.4768,0.0,0.0,0.0,0.0,4713.5232,9180.0
2,1224.3312,10710.0,80000.0,0.0,0.0,0.0,61596.8,7977.1712,6000.0000,0.0000,0.0,0.0,0.0,0.0,7224.3312,10710.0
3,3477.1712,12240.0,90000.0,0.0,0.0,0.0,71596.8,10177.1712,6000.0000,0.0000,0.0,0.0,0.0,0.0,9477.1712,12240.0
4,5677.1712,13770.0,100000.0,0.0,0.0,0.0,81596.8,12377.1712,6000.0000,0.0000,0.0,0.0,0.0,0.0,11677.1712,13770.0
5,7877.1712,15300.0,110000.0,0.0,0.0,0.0,91596.8,14722.1472,6000.0000,0.0000,0.0,0.0,0.0,0.0,13877.1712,15300.0
6,10222.1472,16830.0,120000.0,0.0,0.0,0.0,101596.8,17122.1472,6000.0000,0.0000,0.0,0.0,0.0,0.0,16222.1472,16830.0

In [4]:
# outputs under reform
b.reform_table('2017_law.json')

CTC_c was redefined in release 1.0.0

,Individual Income Tax,Payroll Tax,AGI,UI in AGI,OASDI in AGI,Itemized Deductions,Taxable Inc,Regular Tax,CTC,CTC Refundable,Child care credit,EITC,AMT,Net Investment Income Tax,Income Tax Before Credits,FICA
0,-209.8235,7650.0,60000.0,0.0,0.0,0.0,33258.67,4290.1765,2790.1765,209.8235,0.0,0.0,0.0,0.0,2790.1765,7650.0
1,1290.1765,9180.0,70000.0,0.0,0.0,0.0,43258.67,5790.1765,3000.0000,0.0000,0.0,0.0,0.0,0.0,4290.1765,9180.0
2,3053.6720,10710.0,80000.0,0.0,0.0,0.0,53258.67,7299.1735,2750.0000,0.0000,0.0,0.0,0.0,0.0,5803.6720,10710.0
3,6549.1735,12240.0,90000.0,0.0,0.0,0.0,63258.67,9799.1735,2250.0000,0.0000,0.0,0.0,0.0,0.0,8799.1735,12240.0
4,9549.1735,13770.0,100000.0,0.0,0.0,0.0,73258.67,12299.1735,1750.0000,0.0000,0.0,0.0,0.0,0.0,11299.1735,13770.0
5,12549.1735,15300.0,110000.0,0.0,0.0,0.0,83258.67,14799.1735,1250.0000,0.0000,0.0,0.0,0.0,0.0,13799.1735,15300.0
6,15549.1735,16830.0,120000.0,0.0,0.0,0.0,93258.67,17299.1735,750.0000,0.0000,0.0,0.0,0.0,0.0,16299.1735,16830.0